body {
    padding: 15px;
    background-color: rgb(143, 143, 143);
    width: 85%;
    margin: auto;
    font-weight: bold;
}

h1{
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: orangered;
    border: 2px black solid;
    border-radius: 100px;
    text-align: center;
    padding: 2px;
}

.h1div{
    color: black;
    background-color: rgb(51, 39, 97);
    border: 2px black solid;
    border-radius: 100px;
    margin:  10px auto 50px auto;
    text-align: center;
    width: 60%;
}

strong{
    color: orangered;
}

.container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.flexb{
    display: flex;
    flex: 30%;
    width: 800px;
    margin: 20px auto;
}

input[type="text"] {
    height: 20px;
    width: calc(100% - 100px);
    font-size: 16px;
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    border: 2px black solid;
}

button:hover {
    background-color: greenyellow;
    color: black;
    transition-duration: 500ms;
}

.lekeres{
    height: 50px;
}

#result {
    width: 50%;
    background-color: rgb(51, 39, 97);
    border-radius: 5px;
    color: white;
    margin: 15px auto 0px auto;
    padding: 20px;
}

dl {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

dt{
    font-size: large;
}

dd,
dt,
dd {
    border: 1px white solid;
}

dt,
dd {
    padding: 10px;
    text-align: left;
}

dt {
    background-color: rgb(25, 9, 78);
    color: orangered;
    width: 120px;
    border-radius: 10px;
}

dd {
    background-color: orangered;
    color: black;
    width: 80px;
    border-radius: 100px;
    padding-left: 20px;
}
dd:hover{
    background-color: greenyellow;
    transition-duration: 500ms;
}